*{
  margin: 0;
  padding: 0;
}

#logo {
  justify-content: center;
  width: 20%;
  margin-right: 2em;
}

header {
  background: linear-gradient(to top, var(--violet), var(--dark));
}

.listnav {
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Permanent Marker", cursive;
  padding: 0.5em;
}

.listnav nav ul {
  gap: 7%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}

.listnav ul li {
  display: flex;
}

.listnav ul li a {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  width: auto;
  margin: 3px;
  padding: 2%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--light);
}

@media all and (min-width: 361px) {
  .navbar {
    flex-direction: row;
    font-size: 0.8em;
  }
}

@media all and (min-width: 600px){
  .navbar {
    font-size: 1em;
  }
}

@media all and (min-width: 1000px){
  .navbar {
    font-size: 1.5em;
  }
}
