body {
    margin: 0;
    padding: 0;
    font-family: var(--bodyP);
}

#logo {
    justify-content: center;
    width: 20%;
    height: auto;
}

header {
    background: linear-gradient(to top, var(--violet), var(--dark));
}

.listnav {
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul {
    gap: 7%;
    display: flex;
    list-style: none;
    justify-content: center;
}

ul li {
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    height: 2px;
    width: 90px;
    color: #fff;
    border-radius: 15px;
    margin: 3px;
    padding: 2%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--dark);
    border: solid 1px var(--violetF);
    background-color: var(--light);
}

footer {
    background-color: black;
    color: aliceblue;
}

section {
    width: auto;
    height: 5em;
    padding: 5em;
    border: 2em solid #f71952;
    background: #8f068d;

}

.content-box {
    box-sizing: content-box;

}

.border-box {
    box-sizing: border-box;

}