.box{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: blue;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.box1{
    background-color: red;
    height: 20%;
    width: 90%;
}

#news{
    display: flex;
    height: 80%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#lastNews{
    height: 20%;
    width: 100%;
    background-color: green;
}

.box2{
    background-color: red;
    height: 80%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    flex-wrap: wrap;
    overflow: scroll;
}

#title{
    background-color: green;
    height: 10%;
    width: 100%;
}

#content1{
    background-color: green;
    height: 30%;
    width: 90%;
}

#content2{
    background-color: green;
    height: 30%;
    width: 90%;
}

#content3{
    background-color: green;
    height: 30%;
    width: 90%;
}

#content4{
    background-color: green;
    height: 30%;
    width: 90%;
}

#content5{
    background-color: green;
    height: 30%;
    width: 90%;
}

#content6{
    background-color: green;
    height: 30%;
    width: 90%;
}

#content7{
    background-color: green;
    height: 30%;
    width: 90%;
}

#content8{
    background-color: green;
    height: 30%;
    width: 90%;
}

#content9{
    background-color: green;
    height: 30%;
    width: 90%;
}

.box3{
    background-color: red;
    height: 20%;
    width: 90%;
}

@media all  and (min-width : 768px){

}