:root {
    --titleP: Arial, Helvetica, sans-serif;
    --bodyP: Arial, Helvetica, sans-serif;
    --violet: #8f068d;
    --violetF: #570056;
    --rouge: #f71952;
    --dark: #2b2b2b;
    --light: #efefef;
}
